<section>
    <article>
        <h3>Interpolação</h3>
        <p>{{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 5 + 4 é: {{ getValor(5, 4) }}</p>
        <p>Curso angular {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>Property binding</h3>

        <img src="{{ urlImagem }}" alt="Imagem de meme brasileiro">

        <img [src]="urlImagem" alt="Imagem de meme brasileiro">

        <img bind-src="urlImagem" alt="Imagem de meme brasileiro">
    </article>

    <article>
        <h3>Class e Style binding - CSS</h3>

        <div>
            <p>Selecione uma classe</p>

            <select class="form-control" name="class-select" #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
        </div>

        <div class="alert {{ classe.value }}">
            Texto colotido conforme valor do combobox
        </div>

        <div class="alert alert-danger"
            [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
            Texto colotido conforme valor do combobox
        </div>
        
        <div>
            <div class="alert" [class.alert-success]="classe.value == 'alert-success'" role="alert">Success</div>
            <div class="alert" [class.alert-info]="classe.value == 'alert-info'" role="alert">Info</div>
            <div class="alert" [class.alert-warning]="classe.value == 'alert-warning'" role="alert">Warning</div>
            <div class="alert" [class.alert-danger]="classe.value == 'alert-danger'" role="alert">Danger</div>
        </div>

    </article>

    <section>
        <h3>Eventos</h3>

        <div>
            <button (click)="botaoClicado()" class="btn btn-primary">Me clique</button>
        </div>

        <div>
            <input type="text" class="form-control" 
                (keyup)="onKeyUp($event)" 
                (keyup.enter)="salvarValor(campoInput.value)"
                (blur)="salvarValor(campoInput.value)"
                #campoInput
            />
            <p>O valor atual é: {{ valorAtual }}</p>

            <p>Valor salvo: {{ valorSalvo }}</p>
        </div>

        <div>
            <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">Passe o mouse soubre mim</span>
        </div>

    </section>
</section>